<!-- FIXME: ADJUST TYPE SELECTOR -->
<section class="container edit-thought ff-inter">
  <header class="header">
    <h2>Edite o <br />pensamento novo:</h2>
  </header>
  <form action="">
    <label for="thought">Pensamento</label>
    <input
      type="textarea"
      class="input"
      id="thought"
      name="thought"
      placeholder="Digite o pensamento"
      [(ngModel)]="thought!.content"
    />
    <label for="authorship">Autoria ou fonte</label>
    <input
      type="text"
      class="input"
      id="authorship"
      name="authorship"
      placeholder="Digite a autoria ou fonte"
      [(ngModel)]="thought!.authorship"
    />
    <label for="model">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-model">
        <label for="model1">
          <input
            type="radio"
            id="model1"
            value="1"
            name="model-card"
            [(ngModel)]="thought!.type"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        <h3>Prévia:</h3>
        <div class="model model1 ff-roboto-mono">
          <img src="../../../../assets/imagens/model1.png" alt="Aspas azuis" />
          <p class="content">{{ thought!.content }}</p>
          <p class="authorship">
            <b>{{ thought!.authorship }}</b>
          </p>
        </div>
      </div>
      <div class="radio-model">
        <label for="model2">
          <input
            type="radio"
            id="model2"
            value="2"
            name="model-card"
            [(ngModel)]="thought!.type"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        <h3>Prévia:</h3>
        <div class="model model2 ff-roboto-mono">
          <img
            src="../../../../assets/imagens/model2.png"
            alt="Aspas azuis claro"
          />
          <p class="content">{{ thought!.content }}</p>
          <p class="authorship">
            <b>{{ thought!.authorship }}</b>
          </p>
        </div>
      </div>
      <div class="radio-model">
        <label for="model3">
          <input
            type="radio"
            id="model3"
            value="3"
            name="model-card"
            [(ngModel)]="thought!.type"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        <h3>Prévia:</h3>
        <div class="model model3 ff-roboto-mono">
          <img src="../../../../assets/imagens/model3.png" alt="Aspas verdes" />
          <p class="content">{{ thought!.content }}</p>
          <p class="authorship">
            <b>{{ thought!.authorship }}</b>
          </p>
        </div>
      </div>
    </div>
    <div class="actions">
      <button (click)="cancel()" class="custom-button">Cancelar</button>
      <button (click)="editThought()" class="custom-button">Salvar</button>
    </div>
  </form>
</section>
